antlr4-python3-runtime
blockdiag
colormap
coverage
dbfread
easydev
folium
geopandas
jyquickhelper
keyring
Mako
networkx
openpyxl
pandas
git+https://github.com/pydata/pandas-datareader.git
pandocfilters
pylzma
pymyinstall
pyquickhelper>=1.9.3100
pyshp
qgrid
quandl
scikit-learn
scipy
seaborn
shapely
sphinx_readable_theme
wheel
yahoo-historical
