antlr4-python3-runtime
blockdiag
colormap
coverage
dbfread
easydev
folium
jyquickhelper
keyring
Mako
networkx
openpyxl
pandas
-e git+https://github.com/pydata#egg=pandas_datareader
pandocfilters
pymyinstall
pyquickhelper>=1.8
qgrid
quandl
scikit-learn
scipy
seaborn
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
wheel
yahoo-historical
